 .container-fluid {
     margin-top: 0.5%;
 }

 @media (min-width: 768px) {
     .col-md-4 {
         margin-left: 32%;
     }
 }

 /*----- input -----*/
 .contact__input {
     padding: 0.80rem 0.40rem;
     outline: none;
     width: 100%;
     margin-bottom: 20px;
     border: 1px solid rgb(177, 172, 172);
 }

 /*----- button -----*/

 .button {
     background-color: #029278;
     color: #fff;
     padding: 0.80rem 1rem;
     border: 1px solid #029278;
     width: 100%;
     outline: none;
     font-weight: 500;
     border-radius: 100px;
 }

 .button:hover {
     transition: .3s;
     background-color: #008169;
     color: #fff;
 }

 /*----- formulaire -----*/

 .content {
     width: 100%;
     margin-top: 50px;
     margin-bottom: 50px;
     color: #fff;
     font-size: 14px;
     border-radius: 1rem;
     padding: 10px 0;
 }

 .content form {
     color: #999;
     background: #ffffff;
     padding: 30px;
 }

 .content input[type="checkbox"] {
     margin-top: 3px;
 }

 .content .row div:first-child {
     width: 177px;
     padding-left: 15px;
 }

 .content .row div:last-child {
     width: 177px;
     padding-left: 15px;
 }

