.logo{
    text-align: center;
    margin-top: 30px;
}

.titre{
    text-align: center;
    margin-top: 50px;
}

#conteneur{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}

.element{
    width: 310px;
    height: 350px;
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
    background-color: white;
}

.texte{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}